<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ASWebAuthenticationSessionWebBrowserSupportCapabilities</key>
	<dict>
		<key>IsSupported</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>app.neodb.neodb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>neodb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>app.neodb.piecelet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>piecelet</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>douban</string>
		<string>goodreads</string>
		<string>googlebooks</string>
		<string>imdb</string>
		<string>bangumi</string>
		<string>bandcamp</string>
		<string>spotify</string>
	</array>
</dict>
</plist>
